@import 'antd/dist/antd.less';
@import 'variables.less';
@import 'NavBar.less';
@import 'HomePage.less';
@import 'Card.less';
@import 'Footer.less';
@import 'GamePage';
@import 'ListPage';
@import 'UserPage';

.App {
  min-height: 100vh;
}

.divider {
  color: @primary-color;
}

.divider-highlight {
  color: @steel-blue;
}

.title-font {
  font-family: @title-font;
}
