.card {
  width: 25rem;

  .card-title {
    border: 1px solid @light-blue;
    border-radius: 2px;
    position: relative;
    bottom: 2rem;
    text-align: center;
    width: 60%;
    background-color: #141414;
    padding: 0.5rem;
    font-family: @title-font;
  }

  .icon-highlight {
    color: @steel-blue;
  }

  .card-body {
    text-align: center;
    padding: 0 1rem 0 1rem;
    font-size: 16px;
  }
}

.game-card-image {
  min-height: 10rem;
  img {
    object-fit: none;
  }
}
