.hero-section {
  margin-top: 5rem;
  min-height: 100vh;

  .ant-tabs-nav-list {
    min-height: 100vh;
  }

  .text-primary {
    color: @primary-color;
  }

  .text-highlight {
    color: @font-light;
  }

  .hero-text-large {
    color: @font-dark;
    font-size: 5rem;
  }

  .hero-text-medium {
    color: @font-dark;
    font-size: 2rem;
  }

  .hero-text-small {
    color: @font-dark;
    font-size: 1.5rem;
  }

  .browse-section {
    margin-top: 8rem;
    text-align: center;
  }

  .title {
    font-family: @title-font;
  }

  .main-font {
    @main-font: 'Ubuntu', sans-serif;
  }
}

button.visitor-btn {
  border-color: @gengar;
  background-color: #fff;
}

button.visitor-btn:hover {
  color: #fff;
  background-color: @gengar;
}
