@import 'variables.scss';

.title {
  font-family: $title-font;
  color: $mascot-purple-1;
}

.nav-links {
  display: flex;
  justify-content: space-evenly;
  font-family: $main-font;

  .nav-link {
    color: $mascot-purple-3;
  }
}
