@import 'variables.less';

.title {
  font-family: @title-font;
  font-size: x-large;
  padding-top: 2.5vh;

  .title-link {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    padding-left: 0px;
  }

  .title-link:hover {
    color: @mascot-purple-1;
  }
}

.drop-down:hover {
  cursor: pointer;
}

.nav-links {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: @main-font;
  height: 10vh;
  padding: 5px 3rem 5px 3rem;
  background-image: linear-gradient(to right, @pinky-purple, @gengar);

  .nav-logo-links {
    display: flex;
    flex-direction: row;
  }

  .nav-center-links {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
  }

  .nav-user-links {
    font-size: smaller;
  }

  button {
    transition: @fade-in;
  }

  button:hover {
    transition: @fade-in;
    cursor: pointer;
  }

  button.nav-link {
    color: white;
    margin-right: 2.5rem;
    position: relative;
    background-color: transparent;
    border: 0px;
    font-size: 16px;
  }

  button.nav-link:before {
    content: '';
    position: absolute;
    width: 0;
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: white;
    visibility: hidden;
    transition: all @fade-in;
  }

  button.nav-link:hover:before {
    visibility: visible;
    width: 100%;
  }

  .logged-in-message {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem;
    font-size: x-large;
    color: @steel-blue;
  }
}

.ant-dropdown-link {
  color: white;
}

.menu {
  width: 140px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.menu-item {
  margin-bottom: 5px;
  font-weight: 700;
}

.menu-item:hover {
  background-color: rgba(150, 187, 232, 0.4);
}

.nav-button {
  margin-right: 1rem;
  background-color: #834ab5;
}

.nav-button:hover {
  background-color: #834ab58e;
}

.animation:hover {
  animation-name: floating;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
}

@keyframes floating {
  0% {
    transform: translate(0, 0px);
  }
  50% {
    transform: translate(0, 8px);
  }
  100% {
    transform: translate(0, -0px);
  }
}

.searchModal {
  font-family: @title-font;
  font-size: larger;
}

.searchModalTitle {
  font-family: @title-font;
}
