// @import 'styles/variables.less';
// OR
// @import 'variables.less';

// GOOGLE FONTS: VT323, Ubuntu
@import url('https://fonts.googleapis.com/css2?family=Ubuntu&family=VT323&display=swap');

@title-font: 'VT323', monospace;
@main-font: 'Ubuntu', sans-serif;

@mascot-purple-1: rgba(188, 135, 227, 1);
@mascot-purple-2: rgba(156, 83, 211, 1);
@mascot-purple-3: rgba(174, 163, 255, 1);

@dark-blue: rgba(18, 0, 82, 1);
@gengar: rgba(84, 59, 163, 1);
@dark-purple: rgba(123, 88, 156, 1);
@purple: rgba(138, 43, 226, 1);
@pinky-purple: rgba(176, 88, 198, 1);
@steel-blue: rgba(150, 187, 232, 1);
@light-blue: rgba(156, 211, 243, 1);

@font-light: rgb(255, 255, 255);
@font-dark: rgb(0, 0, 0);

@fade-in: 0.3s ease-in-out;
@game-title-bg: rgba(150, 187, 232, 0.3);

// ANT DESIGN VARIABLES
@primary-color: @gengar;
@info-color: @steel-blue;
@card-shadow: 0 1px 2px -2px rgba(150, 187, 232, 0.479),
  0 3px 6px 0 rgba(150, 187, 232, 0.363),
  0 5px 12px 4px rgba(150, 187, 232, 0.336);
