// @import 'styles/variables.less';
// OR
// @import 'variables.less';

// GOOGLE FONTS: VT323, Ubuntu
@import url('https://fonts.googleapis.com/css2?family=Ubuntu&family=VT323&display=swap');

@title-font: 'VT323', monospace;
@main-font: 'Ubuntu', sans-serif;

@mascot-purple-1: #bc87e3;
@mascot-purple-2: #9c53d3;
@mascot-purple-3: #aea3ff;

@dark-blue: #120052;
@darker-purple: #543ba3;
@dark-purple: #7b589c;
@purple: #8a2be2;
@pinky-purple: #b058c6;
@steel-blue: #96bbe8;
@light-blue: #9cd3f3;

@fade-in: 0.3s ease-in-out;
